<mat-spinner id="spinner" *ngIf="busyIndicatorDisabled === false"></mat-spinner>

<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side" opened="false" class="app-sidenav">
        <mat-nav-list>
          <a mat-list-item class="sidenav-link" routerLink="/dashboard" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon><i class="material-icons">panorama_wide_angle</i></mat-icon>
            <span class="title" mat-line>Projects</span>
            <span mat-line class="secondary">Show Projects</span>
          </a>
          <a mat-list-item class="sidenav-link" routerLink="/about" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>android</mat-icon>
            <span class="title" mat-line>About</span>
          </a>
          <a mat-list-item class="sidenav-link" routerLink="/imprint" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>android</mat-icon>
            <span class="title" mat-line>Imprint</span>
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-toolbar color="primary">
          <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="sidenav.opened">
              <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
            </button>
      
            <h1 class="component-title">
              <a class="title-link">{{title}}</a>
            </h1>
          </mat-toolbar-row>
      </mat-toolbar>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>