.project-detail {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.project-detail ul {
    margin: 0;
    padding: 0;
}

@media (min-width: 640px) {
    .project-detail ul li {
        float: left;
        width: 33.33%;
    }
}

.project-detail ul li {
    list-style: none;
}

.project-image {
    margin: 0.1em;
    display: block;
    padding-top: 73%;
    height: 0;
}